## the src folder
src
.babelrc
rollup.config.js
## node_modules
node_modules
## git repository related files
.git
.gitignore
CVS
.svn
.hg
.lock-wscript
.wafpicle-N
.DS_Store
npm-debug.log
.npmrc
# others
config.gypi
Package-lock.json